<ion-header [translucent]="true" class="custom-header">
  <ion-toolbar>
    <ion-title class="header-title">
      Practica 1 Hello World
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="custom-content">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" class="header-title">Practica en clase Hello World</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container" class="content-container">
    <strong>Hello World!!!</strong>
  </div>

  <ion-button expand="block" color="primary" (click)="showInfo()" class="info-button">
    Click
  </ion-button>
  <ion-button (click)="login()">Inicio</ion-button>
  <ion-button (click)="register()">Registro</ion-button>
  <div *ngIf="showMessage" class="info-box">
    <p>Hi!!, ¡Xitlaly!, well done!!</p>
  </div>
</ion-content>
