<ion-header>
  <ion-toolbar>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="registerForm">
    <!-- Email -->
    <ion-item>
      <ion-label position="floating">Correo electrónico</ion-label>
      <ion-input type="email" formControlName="email" inputmode="email"></ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="email?.invalid && email?.touched">
      Correo inválido
    </ion-text>

    <!-- Full Name -->
    <ion-item>
      <ion-label position="floating">Nombre Completo</ion-label>
      <ion-input formControlName="fullName" (ionInput)="toUpperCase()" [value]="registerForm.value.fullName"></ion-input>
    </ion-item>

    <!-- User -->
    <ion-item>
      <ion-label position="floating">Usuario</ion-label>
      <ion-input type="text" formControlName="user"></ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="user?.invalid && user?.touched">
      No se permiten espacios
    </ion-text>

    <!-- Password -->
    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>

    <!-- Confirm Password -->
    <ion-item>
      <ion-label position="floating">Confirmar Contraseña</ion-label>
      <ion-input type="password" formControlName="confirmPassword"></ion-input>
    </ion-item>
    <ion-text *ngIf="passwordsDoNotMatch" color="danger">
      Las contraseñas no coinciden
    </ion-text>

    <!-- Birth Date -->
    <ion-item>
      <ion-label position="floating">Fecha de Nacimiento</ion-label>
      <ion-input type="date" formControlName="birthDate"></ion-input>
    </ion-item>

    <!-- Botón de Registro -->
    <ion-button expand="full" (click)="register()" [disabled]="registerForm.invalid">
      Registrarse
    </ion-button>
  </form>
</ion-content>
